*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared tag */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}

  .btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
  }

   nav {
    width: 86%;

    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
section .banner {
    width: 86%;
    max-width: 1360px;
    
    
}



  /* maine tag */
  header {
    margin: 16px 120px;
  }
 
  nav .logo {
    width: 139px;

  }
    nav ul {
        display: flex;
        gap: 32px;
        list-style: none;
    }
    nav ul li a {
        text-decoration: none;
        font-weight: medium;
        font-size: 16px;
        line-height: 152%;
        color: black;
    }




#banner {
    background-image: url(../assets/hero-bg.png), linear-gradient(rgba(255, 255, 255, 1));
    max-width: 1600px;
    height: 674px;
    flex-direction: column;
    text-align: center;
    padding: 70px 120px 134px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

div .early {
    background-color: #FFFFFF;
    display: flex;
    margin: 0 auto;
    border: none;
    height: 35px;
    width: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);

}

.dot-early{
    display: inline-flex;
    align-items: center;
    justify-content: center
    
}

.dot-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
    background-color: #46916572;
    border-radius: 50%;
}
.dot-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12px;
    width: 12px;
    background-color: #30b86988;
    border-radius: 50%;

}
.dor-inner{
display: flex;
    justify-content: center;
    align-items: center;
    height: 8px;
    width: 8px;
    background-color: #30b869da;
    border-radius: 50%;
}

#banner .banner-container {
    width: 1360px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

div .banner-text h1 {
    
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    opacity: 0.9;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}
div .highlight {
    color: #30B868;

}
div .banner-text p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    margin: 16px 295px;
}

div .banner-button {
    padding-top: 32px;
    
}

#learning {

    width: 85%;
    max-width: 1600px;
    justify-content: center;
    margin: 0 auto;
    
}
#learning .learning-text {
    width: 85%;
    max-width: 1360;
    margin: 0 auto;
}

  #learning  .learning-container {
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;


  }

  #learning  .learning-container h2 {

    font-size: 48px;
    font-weight: bold;
    color: #001931;
    gap: 16px;
  }

   #learning  .learning-container p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    padding-top: 16px;
   }

   #learning  .learning-info {
    justify-content: center;
    align-items: center;
    padding: 44px 120px;
    display: flex;
    gap: 24px;
    
   }
#learning  .info-card {
    text-align: center;
    
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #00000010;


    
}

.info-card img {

    background: rgba(249, 85, 85, 1);
    margin: 69px 131px 16px 131px;
    border-radius: 50%;
    padding: 14px;
    
    

}
.info-card h4 {
    font-size: 24px;
    font-weight: 300px;
    color: #001931;
    padding-bottom: 16px;


}
    .info-card p{
        max-width: 274px;
        font-size: 16px;
        line-height: 20px;
        color: #627382;
        margin: 0 24px 70px 24px;


    }















#brain {
    margin: 120px 120px;
}

#brain .brain-img {
    display: flex;
}
#brain .brain-container {

    margin: 102px 0 102px 60px;
}
#brain .brain-container h6 {
    font-size: 16px;
    padding-bottom: 16px;
    line-height: 20px;
    color: #469165;
}

#brain .brain-container h1 {

    font-size: 48px;
    color: #001931;
    padding-bottom: 16px;
    

}

#brain .brain-container p {
    max-width: 700px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-bottom: 40px;
}

#brain .brain-container .check-mark {
    width: 700px;
    height: 60px;
    display: flex;
    align-items: flex-start;
}

#brain .brain-container .check-mark img {
    width: 20px;
    padding: 1.8px;
    margin-top: 1px;

}


